.quantity {
  width: 40px;
}
body{
  font-family: 'Press Start 2P', sans-serif;
  background-image: url("/images/cart-background.jpg") ;
  color: white;
}
button {
  color: black
}

.final-total{
  float: right
}
